<div class="container">
  <span class="state">{{state}}</span>
  <button class="btn func-btn" (click)="acClick()">AC</button>
  <button class="btn func-btn" (click)="negateState()">+/-</button>
  <button class="btn func-btn" (click)="percent()">%</button>
  <button class="btn operation-btn" (click)="operationClick(1)">/</button>
  <button class="btn number-btn" (click)="numberClick(7)">7</button>
  <button class="btn number-btn" (click)="numberClick(8)">8</button>
  <button class="btn number-btn" (click)="numberClick(9)">9</button>
  <button class="btn operation-btn" (click)="operationClick(2)">x</button>
  <button class="btn number-btn" (click)="numberClick(4)">4</button>
  <button class="btn number-btn" (click)="numberClick(5)">5</button>
  <button class="btn number-btn" (click)="numberClick(6)">6</button>
  <button class="btn operation-btn" (click)="operationClick(3)">-</button>
  <button class="btn number-btn" (click)="numberClick(1)">1</button>
  <button class="btn number-btn" (click)="numberClick(2)">2</button>
  <button class="btn number-btn" (click)="numberClick(3)">3</button>
  <button class="btn operation-btn" (click)="operationClick(4)">+</button>
  <button class="btn number-btn zero" (click)="numberClick(0)">0</button>
  <button class="btn number-btn" (click)="point()">,</button>
  <button class="btn operation-btn" (click)="operationClick(5)">=</button>
</div>
